node_modules
dist
dist-ssr
*.local
.env
.env.*.local

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test / build artifacts
coverage
*.tsbuildinfo
